// main main.css

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    // font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
    background-color: #F4F8FF;
    box-sizing: border-box;


}

html {
    overflow-x: hidden;
}

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

:root {
    --blue: #4565A5;
    --blue-trans: #4565a51a;
    --green-trans: rgba(89, 116, 40, 0.185);
    --dark-blue: #182B51;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1200px;
}

section {
    margin: 100px 0;
    padding: 0 10px;
}

header {
    margin: 30px 0;
}

body::-webkit-scrollbar {
    width: 0.8em;
}

body::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue);
    border-radius: 7px;
    border: 2px solid rgb(255, 255, 255);
}

// !POPUP

.overlay {
    position: fixed;
    top: 0;
    z-index: 178000;

    padding: 10px;

    display: none;
    align-items: center;
    

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(216, 230, 255) 100%);
    border-radius: 20px;

    width: 500px;
    height: 500px;
    text-align: center;

    position: relative;

    margin: auto;
}

.popup__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.popup__subtitle {
    color: var(--dark-blue);
    font-size: 14px;
    width: 65%;
    line-height: 1.5rem;

    margin-bottom: 40px;
}

.sm-title {
    margin-top: 40px;
    font-size: 30px;
    margin-bottom: 10px;
}

.popup-btn {
    border-radius: 15px;
    margin-top: 50px;
}


.popup__close {
    position: absolute;

    top: 20px;
    right: 20px;

    width: 25px;
    height: 25px;

    user-select: none;
}

.popup__input {
    width: 80%;
    height: 30px;

    color: rgba(0, 0, 0, 0.801);

    border-radius: 10px;
    border: 2px solid #4565A5;

    margin-top: 20px;

    padding: 6px;
    padding-left: 10px;

    font-family: 'Raleway', sans-serif;
}